body {
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    height: 100vh;
}



/* Contenitore del form */
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
}

/* Stile per i campi del form */
.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: 500;
    display: block;
    margin-bottom: 8px;
    color: #ccc;
}

input[type="text"], input[type="email"], input[type="city"], textarea {
    width: 1000px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    margin-top: 5px;
}

textarea {
    resize: vertical;
    height: 150px;
}

.hire-button {
        background: #fff;
        padding: 6px 30px;
        border: none;
        font-size: 16px;
        cursor: pointer;
        border-radius: 6px;
        transition: background-color 0.3s ease;
        margin-bottom: 100px;
        margin-top: 30px;
    }
.hire-btn:hover {
        background: #fb8c00;
    }


/* Responsività */
@media screen and (max-width: 1026px) {
    input[type="text"], input[type="email"], input[type="city"], textarea {
        width: 100%;
    }
}


@media screen and (max-width: 600px) {
    .form-container {
        padding: 15px;
    }

    .form-button {
        padding: 10px;
    }
}

