.mainform {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .contact{
        h1 {
            font-size: 40px;
            color: #ccc;
            text-align: center;
            margin-bottom: 10px;
            padding-bottom: 60px;
        }
        form {
            width: 600px;
            text-align: center;
            .input-box {
                display: flex;
                justify-content: space-between;
            }
            .input-box .input-field {
                width: 49%;
            }
            .field .item {
                width: 100%;
                padding: 18px;
                background: transparent;
                border: 2px solid #fb8c00;
                box-shadow: 0 0 6px #fb8c00;
                outline: none;
                border-radius: 8px;
                font-size: 16px;
                color: #ccc;
                margin: 12px 0;
            }
            .field .item::placeholder {
                color: rgba(255, 255, 255, .3);
            }
        }
        .textarea-field .item{
            resize: none;
        }
        button {
                background: #fff;
                padding: 6px 30px;
                border: none;
                font-size: 16px;
                cursor: pointer;
                border-radius: 6px;
                transition: background-color 0.3s ease;
                margin-bottom: 100px;
                margin-top: 30px;
        }
        button:hover {
            background: #fb8c00;
            
        }
    }
}