@media screen and (max-width: 1100px) {
    .experience {
        flex-wrap: wrap;
        gap: 10px;
        .item {
            flex-basis: 100%;
        }
    }

    .skills {
        justify-content: space-between;
        gap: 20px;
        .left {
            width: 500px;
            .info {
                h3 {
                    font-size: 22px;
                    p {
                        font-size: 12px;
                    }

                }
            }
            }
        }

    footer {
        margin-top: 150px;
        .start {
            display: flex;
            justify-content: space-around;
            align-items: center;
            top: -20%;
        }
        .cols {
            flex-wrap: wrap;
            .about-col {
                flex-basis: 50%;
            }
            .link-col {
                flex-basis: 50%;
            }
            .news-col {
                flex-basis: 50%;
            }
        }
    }



    }

    @media screen and (max-width: 780px) {
        .navbar button{
            display: none;
        }
        .main {
            h4 {
                font-size: 24px;}
            p.titolo{
                font-size: 36px;
            }
            p.sotto-titolo{
                font-size: 14px;
            }
        }
        
        .about {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    @media screen and (max-width: 650px){
        .navbar{
            justify-content: center;
            h2 {
                display: none;
            }
            ul li a {
                font-size: 14px;
            }
        }

        .main {
            margin-top: 50px;
            height: 320px;
            justify-content: start;
            h4{
                font-size: 20px;
            }
            p.titolo{
                font-size: 28px;
            }
            p.sotto-titolo {
                font-size: 12px;
            }
            img{
                margin-top: 40px;
                width: 350px;
                height: 350px;
            }

        }

        .skills{
            flex-wrap: wrap;
            justify-content: center;
            .right {
                justify-content: space-between;
            }
            .left .info h3 {
                font-size: 20px;
            }
        }

        footer .start{
            top: -8%;
            p {
                display: none;
            }
        }
        footer {
            .cols .about-col {
                flex-basis: 100%;
                margin-bottom: 40px;
            }
            .cols .links-col {
                flex-basis: 100%;
                margin-bottom: 20px;
            }

            .cols .news-col {
                flex-basis: 100%;
                h4 {
                    margin-top: 10px;
                }
            }
        }


    }

    @media screen and (max-width: 480px) {
        .main{
            p.titolo{
                font-size: 18px;
            }
            p.sotto-titolo{
                font-size: 10px;
            }
            img {
                width: 389px;
            }
        }
        
        
        
        
        
        
        .experience {
            .item {
                .info {
                    h3 {
                        font-size: 23px;
                    }
                    p {
                        font-size: 13px;
                    }
                        
                }
            }
        }
    }




